@import 'https://fonts.googleapis.com/css?family=Poppins|Lato:100,300';

$gray: #ccc;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Lato';
  font-size: 12pt;
}

a {
  color: #666;
}

[contentEditable=true]:empty:not(:focus)::before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.wrap {
  width: 100%;
  height: 100vh;
}

.flexbox-parent {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.flexbox-item-grow {
  flex: 1;
}

.fill-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.fill-area-content {
  overflow: auto;
}

.flexer {
  display: flex;
}

.column {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid $gray;
  &.left {
    max-width: 75%;
    height: 100%;
    border-right: 0;
  }
  &.right {
    max-width: 25%;
    height: 100%;
  }
}

section {
  &.options {
    margin: 0 0 0;
    width: 100%;
    height: 100%;
    border: 1px solid $gray;
    border-bottom: 0;
    padding: 15px;
    ul {
      list-style: none;
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        width: 33.3%;
        font-size: 10pt;
        &.logo {
          font-family: 'Poppins', monospace;
          font-size: 22px;
          h1 {
            line-height: 0;
          }
        }
        &.note {
          text-align: right;
        }
      }
    }
    input[type="url"] {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      display: inline-block;
      font-size: 12pt;
      padding: 7px;
      border: 1px solid $gray;
    }
    input[type="checkbox"] {
      margin-right: 10px;
    }
    label {
      padding-left: 10px;
    }
  }

  &.parser {
    font-size: 0;
    height: 100%;
    .editor {
      font-family: 'Lato';
      border: 0;
      outline: none;
      width: 100%;
      height: 50%;
      max-height: 50%;
      display: inline-block;
      resize: none;
      padding: 7px;
      font-size: 16px;
      a {
        color: #3498DB;
      }
    }
    #result {
      border-top: 1px solid $gray;
    }
    .issue-data {
      width: 100%;
      height: 100%;
      font-size: 12pt;
      .data-count {
        font-weight: bold;
        padding: 14px 7px;
        text-align: center;
        padding: 10px 0;
        background-color: #e4e4e4;
      }
      #issue-list {
        list-style: none;
        li {
          font-size: 18px;
          border-bottom: 1px solid #FFF;
          &:hover {
            opacity: 0.8;
          }
          a {
            padding: 7px;
            display: block;
            width: 100%;
            height: 100%;
            color: #FFF;
            text-decoration: none;
          }
          &.spacer {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
  section {
    &.options {
      ul {
        li {
          width: 100%;
          padding: 10px 0;
          label {
            padding: 0;
          }
          &.logo {
            text-align: center;
            margin-right: 0;
            h1 {
              line-height: 1;
            }
          }
        }
      }
    }
  }
}
